@charset "UTF-8";
/* importación de fuente desde Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin-top: 4rem;
  background-color: #212121;
}

/* logo */
header {
  position: fixed;
  z-index: 10 !important;
  top: 0px;
  right: 0px;
  left: 0px;
}
header #logo {
  width: auto;
  height: 3rem;
}
header .navbar-margin li a {
  text-align: center;
}
header .navbar-margin .nav-item {
  font-size: 1.5rem;
}
@media (min-width: 1200px) {
  header .navbar-margin .nav-item {
    margin-right: 1rem;
  }
}

/* subtitulos */
.subtitulos {
  text-align: left;
  font-size: 30px;
  color: #B9F852;
}

.ourServices {
  text-align: center;
  color: #B9F852;
}

/* footer */
footer {
  background-color: #212529;
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding-top: 1rem;
  height: auto;
  width: 100%;
  margin-top: 10rem;
}
footer section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0.5rem 0rem 0.5rem;
}
@media (min-width: 992px) {
  footer section {
    flex-direction: row;
  }
}
footer section .infoGym {
  text-align: center;
  margin-bottom: 2rem;
}
@media (min-width: 992px) {
  footer section .infoGym {
    text-align: left;
    margin-left: 1rem;
  }
}
footer section .infoGym p {
  margin-bottom: 0.2rem;
  color: white;
  font-size: 0.8rem;
}
@media (min-width: 576px) {
  footer section .infoGym p {
    font-size: 1.2rem;
  }
}
footer .socialMedia {
  text-align: center;
}
@media (min-width: 992px) {
  footer .socialMedia {
    text-align: center;
    margin-left: auto;
    margin-right: 1rem;
  }
}
footer .socialMedia i {
  margin: 0rem 0.5rem 2rem 0.5rem;
  font-size: 1.5rem;
}
@media (min-width: 576px) {
  footer .socialMedia i {
    font-size: 2rem;
  }
}
footer .socialMedia p {
  color: white;
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
}
@media (min-width: 576px) {
  footer .socialMedia p {
    font-size: 1.2rem;
  }
}

.infoCreador {
  text-align: center;
  padding-bottom: 1rem;
}
.infoCreador a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  text-align: center;
}
@media (min-width: 576px) {
  .infoCreador a {
    font-size: 0.9rem;
  }
}
@media (min-width: 992px) {
  .infoCreador a {
    font-size: 1rem;
  }
}

/* index */
main h1 {
  color: white;
  text-align: center;
  font-size: 5rem;
  font-family: "Bebas Neue", cursive;
  margin-top: 1rem;
}
@media (min-width: 1200px) {
  main h1 {
    font-size: 7rem;
  }
}
main .aboutUs {
  margin: 1rem 1rem 0rem 1rem;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0px;
}
main .aboutUs .p_bienvenidos {
  font-size: 2.5rem;
  text-align: center;
  color: #B9F852;
}
@media (min-width: 1200px) {
  main .aboutUs .p_bienvenidos {
    font-size: 3rem;
  }
}

.secciones {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 2.5rem;
  margin-top: 3.5rem;
  background-color: #B9F852;
  color: #212121;
  font-weight: bold;
  padding: 0.5em;
}
@media (min-width: 992px) {
  .secciones {
    font-size: 2rem;
  }
}

.servicios {
  width: 100%;
  height: auto;
}

.serv {
  padding: 1.5rem;
}

.tituloServicio {
  font-weight: bold;
  margin-top: 0.5em;
}
@media (min-width: 576px) {
  .tituloServicio {
    margin-top: 1rem;
    font-size: 1.7rem;
  }
}

.pOurServices {
  font-size: 1rem;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 3rem;
  color: white;
}
@media (min-width: 576px) {
  .pOurServices {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .pOurServices {
    text-align: left;
  }
}

.reseñas p {
  color: white;
  text-align: center;
  font-size: 1rem;
  margin: 2rem;
}
@media (min-width: 576px) {
  .reseñas p {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .reseñas p {
    text-align: left;
  }
}

.clientes {
  height: auto;
  width: 80%;
  border-radius: 5%;
}

.comentarios {
  margin-top: 5em;
}

.reseñas {
  text-align: center;
}

/* profes */
.nuestroTeam {
  margin-top: 7rem;
}
.nuestroTeam .divNuestroTeam {
  display: flex;
  flex-direction: column;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
@media (min-width: 576px) {
  .nuestroTeam .divNuestroTeam {
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media (min-width: 992px) {
  .nuestroTeam .divNuestroTeam {
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media (min-width: 1200px) {
  .nuestroTeam .divNuestroTeam {
    margin-left: 10%;
    margin-right: 10%;
  }
}
.nuestroTeam .divNuestroTeam .divNuestroTeamIzq, .nuestroTeam .divNuestroTeam .divNuestroTeamDer {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
@media (min-width: 992px) {
  .nuestroTeam .divNuestroTeam .divNuestroTeamIzq, .nuestroTeam .divNuestroTeam .divNuestroTeamDer {
    margin-top: 2rem;
    flex-direction: row;
  }
}
.nuestroTeam .divNuestroTeam .divNuestroTeamIzq .izq, .nuestroTeam .divNuestroTeam .divNuestroTeamDer .izq, .nuestroTeam .divNuestroTeam .divNuestroTeamDer .der {
  padding: 1rem 0;
}
@media (min-width: 1200px) {
  .nuestroTeam .divNuestroTeam .divNuestroTeamIzq .izq, .nuestroTeam .divNuestroTeam .divNuestroTeamDer .izq, .nuestroTeam .divNuestroTeam .divNuestroTeamDer .der {
    padding: 2rem 0;
  }
}
.nuestroTeam .divNuestroTeam .divNuestroTeamIzq .izq h2, .nuestroTeam .divNuestroTeam .divNuestroTeamDer .izq h2, .nuestroTeam .divNuestroTeam .divNuestroTeamDer .der h2 {
  font-size: 2em;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #B9F852;
}
@media (min-width: 576px) {
  .nuestroTeam .divNuestroTeam .divNuestroTeamIzq .izq h2, .nuestroTeam .divNuestroTeam .divNuestroTeamDer .izq h2, .nuestroTeam .divNuestroTeam .divNuestroTeamDer .der h2 {
    font-size: 2.5rem;
  }
}
@media (min-width: 992px) {
  .nuestroTeam .divNuestroTeam .divNuestroTeamIzq .izq h2, .nuestroTeam .divNuestroTeam .divNuestroTeamDer .izq h2, .nuestroTeam .divNuestroTeam .divNuestroTeamDer .der h2 {
    font-size: 2rem;
    text-align: left;
    padding-left: 5%;
  }
}
.nuestroTeam .divNuestroTeam .divNuestroTeamIzq .izq p, .nuestroTeam .divNuestroTeam .divNuestroTeamDer .izq p, .nuestroTeam .divNuestroTeam .divNuestroTeamDer .der p {
  text-align: center;
  font-size: 1rem;
  color: white;
}
@media (min-width: 576px) {
  .nuestroTeam .divNuestroTeam .divNuestroTeamIzq .izq p, .nuestroTeam .divNuestroTeam .divNuestroTeamDer .izq p, .nuestroTeam .divNuestroTeam .divNuestroTeamDer .der p {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .nuestroTeam .divNuestroTeam .divNuestroTeamIzq .izq p, .nuestroTeam .divNuestroTeam .divNuestroTeamDer .izq p, .nuestroTeam .divNuestroTeam .divNuestroTeamDer .der p {
    font-size: 1.4rem;
    text-align: left;
    padding-left: 5%;
    margin-bottom: 0;
  }
}
.nuestroTeam .divNuestroTeam .divNuestroTeamIzq .nuestroTeam-img .profes, .nuestroTeam .divNuestroTeam .divNuestroTeamDer .nuestroTeam-img .profes {
  height: auto;
  width: 95%;
  border-radius: 5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
@media (min-width: 992px) {
  .nuestroTeam .divNuestroTeam .divNuestroTeamIzq .nuestroTeam-img .profes, .nuestroTeam .divNuestroTeam .divNuestroTeamDer .nuestroTeam-img .profes {
    width: 250px;
  }
}
@media (min-width: 1200px) {
  .nuestroTeam .divNuestroTeam .divNuestroTeamIzq .nuestroTeam-img .profes, .nuestroTeam .divNuestroTeam .divNuestroTeamDer .nuestroTeam-img .profes {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .nuestroTeam .divNuestroTeam .divNuestroTeamDer {
    flex-direction: row-reverse;
  }
}
.nuestroTeam .divNuestroTeam .divNuestroTeamDer .der h2 {
  padding-left: 0%;
}
.nuestroTeam .divNuestroTeam .divNuestroTeamDer .der p {
  padding-left: 0%;
  padding-right: 5%;
}

/* planes */
.nuestrosPlanes {
  margin-top: 7rem;
}
.nuestrosPlanes .promo {
  text-align: center;
}
.nuestrosPlanes .promo img {
  width: 93%;
  height: auto;
}
@media (min-width: 1200px) {
  .nuestrosPlanes .promo img {
    width: auto;
  }
}
.nuestrosPlanes .planes {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 100%;
  margin: 0%;
}
.nuestrosPlanes .planes div {
  padding: 0;
  text-align: center;
}
.nuestrosPlanes .planes div img {
  width: 90%;
  height: auto;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 2rem;
}

/* horarios */
.nuestrosHorarios {
  text-align: center;
  margin-top: 7rem;
}

.nuestrosHorarios img {
  width: 80%;
  height: auto;
}

.nuestrosHorarios p {
  font-size: 18px;
  color: white;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .nuestrosHorarios div {
    padding-left: 5%;
    padding-right: 5%;
  }
}
.nuestrosHorarios div img {
  width: 95%;
}
.nuestrosHorarios div p {
  font-size: 1rem;
}
@media (min-width: 768px) {
  .nuestrosHorarios div p {
    font-size: 1.5rem;
  }
}

/* faqs */
.preguntasFrecuentes {
  margin-top: 7rem;
}
.preguntasFrecuentes .FAQsAccordion {
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.preguntasFrecuentes .FAQsAccordion .accordion-button {
  font-size: 1rem;
  font-weight: bold;
  background: inherit;
  border-color: green;
  color: inherit;
}
@media (min-width: 576px) {
  .preguntasFrecuentes .FAQsAccordion .accordion-button {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .preguntasFrecuentes .FAQsAccordion .accordion-button {
    font-size: 1.3rem;
  }
}
.preguntasFrecuentes .FAQsAccordion .accordion-button:not(.collapsed) {
  background: #B9F852;
  color: inherit;
}
.preguntasFrecuentes .FAQsAccordion .accordion-body {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
}
@media (min-width: 576px) {
  .preguntasFrecuentes .FAQsAccordion .accordion-body {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .preguntasFrecuentes .FAQsAccordion .accordion-body {
    font-size: 1.3rem;
  }
}

/* contacto */
.contacto {
  margin-top: 7rem;
}
.contacto .imgFormulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: baseline;
  text-align: left;
}
.contacto .imgFormulario .imgMancuerna {
  display: none;
}
@media (min-width: 1200px) {
  .contacto .imgFormulario .imgMancuerna {
    display: contents;
  }
}
.contacto .imgFormulario .imgMancuerna .imgContacto {
  margin-right: 5%;
}
.contacto .formularioContacto {
  border-radius: 10px;
  width: 95%;
  height: auto;
}
@media (min-width: 768px) {
  .contacto .formularioContacto {
    max-width: 600px;
    margin-top: auto;
    margin-bottom: auto;
  }
}
.contacto .formularioContacto input {
  padding: 0.2em 1em 0.2em 1em;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
@media (min-width: 576px) {
  .contacto .formularioContacto input {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .contacto .formularioContacto input {
    font-size: 1.2rem;
  }
}
.contacto .formularioContacto form {
  display: flex;
  flex-direction: column;
}
.contacto .formularioContacto form label {
  font-size: 1rem;
  color: white;
}
@media (min-width: 576px) {
  .contacto .formularioContacto form label {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .contacto .formularioContacto form label {
    font-size: 1.2rem;
  }
}
.contacto .formularioContacto form #Enviar {
  width: 7rem;
  text-align: center;
  font-size: 1em;
  margin-top: 1rem;
}
@media (min-width: 576px) {
  .contacto .formularioContacto form #Enviar {
    font-size: 1.5em;
  }
}
@media (min-width: 1200px) {
  .contacto .formularioContacto form #Enviar {
    font-size: 1.2rem;
  }
}
.contacto .formularioContacto form textarea {
  width: 100%;
  min-height: 20em;
  max-height: 20em;
  padding: 1em 1em 0.2em 1em;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
@media (min-width: 576px) {
  .contacto .formularioContacto form textarea {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .contacto .formularioContacto form textarea {
    font-size: 1.2rem;
  }
}
.contacto .formularioContacto .enviar {
  align-items: center;
}

.pContacto, .pContacto3, .pContacto2 {
  text-align: center;
  font-size: 1rem;
  color: white;
  margin-top: 3rem;
}
@media (min-width: 576px) {
  .pContacto, .pContacto3, .pContacto2 {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .pContacto, .pContacto3, .pContacto2 {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.pContacto2 {
  margin-top: 1rem;
}

.pContacto3 {
  color: #B9F852;
  font-size: 1.7rem;
}

.mapa {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: auto;
}
.mapa iframe {
  width: 100%;
  height: 200px;
}
@media (min-width: 576px) {
  .mapa iframe {
    width: 80%;
    height: 300px;
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media (min-width: 768px) {
  .mapa iframe {
    width: 70%;
    height: 500px;
    margin-left: 15%;
    margin-right: 15%;
  }
}/*# sourceMappingURL=style.css.map */