/* contacto */

@mixin tamaño ($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

.contacto {
    margin-top: 7rem;

    .imgFormulario {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: baseline;
        text-align: left;

        .imgMancuerna {
            display: none;
        }
    }

    .formularioContacto {
        border-radius: 10px;
        width: 95%;
        height: auto;

        input {
            padding: 0.2em 1em 0.2em 1em;
            border-radius: 5px;
            border-style: solid;
            border-width: 1px;
            border-color: black;
        }

        form {
            display: flex;
            flex-direction: column;

            label {
                font-size: 1rem;
                color: white;

            }

            #Enviar {
                width: 7rem;
                text-align: center;
                font-size: 1em;
                margin-top: 1rem;
            }

            textarea {
                width: 100%;
                min-height: 20em;
                max-height: 20em;
                padding: 1em 1em 0.2em 1em;
                border-radius: 5px;
                border-style: solid;
                border-width: 1px;
                border-color: black;
            }
        }

        .enviar {
            align-items: center;
        }
    }
}


.pContacto {
    text-align: center;
    font-size: 1rem;
    color: white;
    margin-top: 3rem;
}

.pContacto2 {
    @extend .pContacto;
    margin-top: 1rem
}

.pContacto3 {
    @extend .pContacto;
    color: #B9F852;
    font-size: 1.7rem;
}

.mapa {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: auto;
    iframe {
        width: 100%;
        height: auto;
    }
}