* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-top: 4rem;
    background-color: #212121;
}

/* logo */

header {
    position: fixed;
    z-index: 10 !important;
    top: 0px;
    right: 0px;
    left: 0px;

    #logo {
        width: auto;
        height: 3rem;
    }

    .navbar-margin {

        li {
            a {
                text-align: center;
            }
        }

        .nav-item {
            font-size: 1.5rem;
        }
    }
}


/* subtitulos */

.subtitulos {
    text-align: left;
    font-size: 30px;
    color: #B9F852;
}

.ourServices {
    text-align: center;
    color: #B9F852;
}


/* footer */

footer {
    background-color: #212529;
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-top: 1rem;
    height: auto;
    width: 100%;
    margin-top: 10rem;

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 0.5rem 0rem 0.5rem;

        .infoGym {
            text-align: center;
            margin-bottom: 2rem;

            p {
                margin-bottom: 0.2rem;
                color: white;
                font-size: 0.8rem;
            }
        }

        .socialMedia {
            text-align: center;

            i {
                margin: 0rem 0.5rem 2rem 0.5rem;
                font-size: 1.5rem;
            }

            p {
                color: white;
                font-size: 0.8rem;
                margin-bottom: 0.3rem;
            }
        }
    }

    .infoCreador {
        text-align: center;
        padding-bottom: 1rem;

        a {
            text-decoration: none;
            color: white;
            font-size: 0.8rem;
            text-align: center;
        }
    }

}