/* index */


main {
    h1 {
        color: white;
        text-align: center;
        font-size: 5rem;
        font-family: 'Bebas Neue', cursive;
        margin-top: 1rem;
    }

    .aboutUs {
        margin: 1rem 1rem 0rem 1rem;
        color: white;
        text-align: center;
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 0px;

        .p_bienvenidos {
            font-size: 2.5rem;
            text-align: center;
            color: #B9F852;
        }
    }


}


.secciones {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 2.5rem;
    margin-top: 3.5rem;
    background-color: #B9F852;
    color: #212121;
    font-weight: bold;
    padding: 0.5em;
    @include small-desktop {
            font-size: 2rem;
    }
}

.servicios {
    width: 100%;
    height: auto;
}

.serv {
    padding: 1.5rem;
}

.tituloServicio {
    font-weight: bold;
    margin-top: 0.5em;
    @include big-mobile {
        margin-top: 1rem;
        font-size: 1.7rem;
    }
}

.pOurServices {
    font-size: 1rem;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 3rem;
    color: white;
    @include big-mobile {
        font-size: 1.5rem;
    }
}


.reseñas p {
    color: white;
    text-align: center;
    font-size: 1rem;
    margin: 2rem;
    @include big-mobile {
        font-size: 1.5rem;
    }
}



.clientes {
    height: auto;
    width: 80%;
    border-radius: 5%;

}

.comentarios {
    margin-top: 5em;
}

.reseñas {
    text-align: center;
}