/* profes */

.nuestroTeam {
    margin-top: 7rem;

    .divNuestroTeam {
        display: flex;
        flex-direction: column;
        margin-left: 2.5%;
        margin-right: 2.5%;

        @include big-mobile {
            margin-left: 20%;
            margin-right: 20%;
        }

        @include small-desktop {
            flex-wrap: wrap;
            margin-left: 5%;
            margin-right: 5%;
        }

        @include big-desktop {
            margin-left: 10%;
            margin-right: 10%;
        }

        .divNuestroTeamIzq {
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;

            @include small-desktop {
                margin-top: 2rem;
                flex-direction: row;
            }

            .izq {
                padding: 1rem 0;

                @include big-desktop {
                    padding: 2rem 0;
                }

                h2 {
                    font-size: 2em;
                    text-align: center;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    color: #B9F852;

                    @include big-mobile {
                        font-size: 2.5rem;
                    }

                    @include small-desktop {
                        font-size: 2rem;
                        text-align: left;
                        padding-left: 5%;
                    }
                }

                p {
                    text-align: center;
                    font-size: 1rem;
                    color: white;

                    @include big-mobile {
                        font-size: 1.5rem;
                    }

                    @include small-desktop {
                        font-size: 1.4rem;
                        text-align: left;
                        padding-left: 5%;
                        margin-bottom: 0;
                    }
                }
            }



            .nuestroTeam-img {
                .profes {
                    height: auto;
                    width: 95%;
                    border-radius: 5%;
                    margin-left: 2.5%;
                    margin-right: 2.5%;

                    @include small-desktop {
                        width: 250px;
                    }

                    @include big-desktop {
                        width: 300px;
                    }
                }
            }


        }

        .divNuestroTeamDer {
            @extend .divNuestroTeamIzq;

            @include small-desktop {
                flex-direction: row-reverse;
            }

            .der {
                @extend .izq;

                h2 {
                    padding-left: 0%;
                }

                p {
                    padding-left: 0%;
                    padding-right: 5%;
                }

            }
        }
    }
}