/* profes */

.nuestroTeam {
    margin-top: 7rem;

    .divNuestroTeam {
        display: flex;
        flex-direction: column;
        margin-left: 2.5%;
        margin-right: 2.5%;
        @include big-mobile {
                margin-left: 20%;
                margin-right: 20%;
        }
        @include small-desktop {
            margin-left: 5%;
            margin-right: 5%;
        }

        .divNuestroTeamIzq {
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;
            @include small-desktop {
                flex-direction: row;
                margin-top: 2rem;
            }

            h2 {
                font-size: 2em;
                text-align: center;
                margin-top: 1rem;
                margin-bottom: 1rem;
                color: #B9F852;
                @include big-mobile {
                    font-size: 2.5rem;
                }
                @include small-desktop {
                        font-size: 2rem;
                        text-align: left;
                        padding-left: 5%;
                }
            }

            .nuestroTeam-img {
                .profes {
                    height: auto;
                    width: 95%;
                    border-radius: 5%;
                    margin-left: 2.5%;
                    margin-right: 2.5%;
                    
                }
            }

            p {
                text-align: center;
                font-size: 1rem;
                color: white;
                @include big-mobile {
                    font-size: 1.5rem;
                }
                @include small-desktop {
                        font-size: 1.4rem;
                        text-align: left;
                        padding-left: 5%
                }
            }
        }

        .divNuestroTeamDer {
            @extend .divNuestroTeamIzq;
            @include small-desktop {
                flex-direction: row-reverse;
            }
        }
    }
}


